# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
#.*
# except for .gitignore
#!.gitignore


*.eml
*.iml
.history
/*.iml
#/.classpath
/.idea
/.idea_modules
#/.project
#/.settings
/.target
/out
/RUNNING_PID
db
dist
eclipse
lib
log
logs
modules
precompiled
project/project
project/target
server.pid
target
test-result
tmp
bin